
body {
  text-align: center;
}

h1 {
  font-size: 72px;
  color: white;
  text-align: center;
}

header {
  background-color: orange;
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: bold;
}
