/* =================================
  Base Element Styles
==================================== */

body {
	line-height: 1.6;
	color: #3a3a3a;
	width: 70%
	margin: auto;
}
/**  1st ADD width
		 2nd ADD margin
		 **/

/** Q: Why do Vertical Margins collapse?
		A: Normal for margins to overlap **/		 
a {
	color: #fff;
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header {
	background: #3acec2;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;
}

/* ---- Page Elements ---- */
