/** We will start out by learning more about the universal selector**/

header {

}

h1 {
  font-size: 91px;
  color: white;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

body {
  color: #878787;
  margin: 0;
}
