/** We will start out by learning more about the universal selector**/
/** ID Selectors have more weight than class selectors**/
header span {
  color: white;
  font-size: 26px;
}

header {
 background-color: orange;
}

ol li {
  background-color: tomato;
  color: white;
  margin-bottom: 5px;
}

h1 {
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

body {
  color: #878787;
  margin: 0;
}

#primary-content {
  border: 3px solid red;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

.t-border {
  border-top: 2px solid blue;
}

/** Psuedo Classes**/
/** This will style all unvisted links**/
a:link {
  orange;
}

a:visted {
  lightblue;
}

a:hover {
  forestgreen;
}

a:active {
    lightcoral;
}

/** Focus element will only target interactive elements like links**/
a:focus {
  color: white;
  background-color: orange;
}

/** This link is for the MDN Common Data Types resource: https://developer.mozilla.org/en-US/docs/tag/CSS%20Data%20Type**/
